<p>
    <mat-toolbar style="background-color: darkslategray;">
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" routerLinkActive="activate">
            <mat-icon [routerLink]="['home']">home</mat-icon>
        </button>

        <button style="background-color: aliceblue;" mat-icon-button class="example-icon favorite-icon active"
            aria-label="Example icon-button with heart icon" routerLinkActive="activate">
             
                <h1 [routerLink]="['mascotas']"><strong>S</strong></h1>
            
        </button>

        <button style="background-color: aliceblue;" mat-icon-button class="example-icon favorite-icon active"
            aria-label="Example icon-button with heart icon" routerLinkActive="activate">
             
                <h1 [routerLink]="['pacientes']"><strong>G</strong></h1>
            
        </button>
    </mat-toolbar>
</p>
