<mat-label><h3><strong>{{label}}</strong></h3></mat-label>

<mat-select>
    <mat-option *ngFor="let array of arrayInput" [value]="array">
        <div *ngFor="let opcion of opciones">
            <div *ngFor="let item of array | keyvalue" (click)="runOnChange(item)">
              <div style="display: flex"> 
                <div *ngIf="item.key === opcion">
                  {{ item.value }}
                </div>
              </div>
            </div>
          </div>
        </mat-option>
</mat-select>  