<div class="child">
    <mat-card style="text-align: center;">
        <form [formGroup]="formGroup" (submit)="showNewNumero()">
            
            <mat-card-title>Ingrese un Número</mat-card-title>

            <label for="numero-input" style="margin: 10px;">Numero: </label>
            <input type="number" formControlName="numero" id="numero-input" [min]="min" [max]="max"/>
            <mat-error class="error" *ngIf="formGroup.controls.numero.errors?.min">
                Se requiere un número mayór {{min}}
            </mat-error>
            <mat-error class="error" *ngIf="formGroup.controls.numero.errors?.max">
                Se requiere un número menor {{max}}
            </mat-error>
            <mat-error class="error" *ngIf="formGroup.controls.numero.hasError('required') && formGroup.controls.numero.dirty">
                Por favor ingrese un número 
            </mat-error>
            
            <button type="submit" style="margin: 10px;">Click</button>
        </form>
    </mat-card>
</div>