<div id="htmlData">
  <mat-card class="example-card">
    <form [formGroup]="formulario">
      <div class="container">
        <div class="row">
          <div>
            <mat-card-title class="title">{{titulo}}</mat-card-title>
          </div>
          <div class="fechas">
            <input style="float: right;" type="number" matInput placeholder="N°...">
          </div>

          <mat-card-subtitle class='fecha'>Lugar y fecha de expedición:</mat-card-subtitle>

          <div class="lugar" >
          <input type="text" matInput placeholder="Lugar">
          <input class="mes" type="date" matInput>
          </div>

          <h4 class="enviador">Recibí de <input class="enviador2" type="text" matInput placeholder="..."> la cantidad de: <input type="number" matInput placeholder="$"></h4>
          
          <mat-card-subtitle class='numero2'>Cantidad en letras:</mat-card-subtitle>
          
            <div style="width:max-content;">
              <input class="letras-cantidad" type="text" matInput placeholder="abc...">
            </div>
          
          <h4 class="concepto">Por concepto de renta de casa habitación.</h4>
          <div class="firma">
            <h4 class="firma2">_____________________________________</h4>
            <h4>{{firma}}</h4>
          </div>
        </div>
      </div>
    </form>
  </mat-card>

</div>
<br>
<div class="botn">
  <button class="btn col-lg-4 btn-success  " (click)="downloadPDF()">
    <mat-icon>download</mat-icon><br>DESCARGAR
  </button>
</div>