<div >
 
  <form [formGroup]="form" class="example-form" (ngSubmit)="mostrar()">
      <!-- <h1>
        <mat-card-title style="text-align: center">{{
          etiquita
        }}</mat-card-title>
      </h1> -->
       
      <mat-label>
        <h3><strong>
        {{etiquita}}
      </strong>
      </h3>
      </mat-label>

      <mat-form-field
        
        class="example-full-width"
        appearance="fill"
      >
        <input
          type="text"
          matInput
          formControlName="emailFormControl"
          [placeholder]="holder"
          [minlength]="min"
          [maxlength]="max"
        />

        <mat-error *ngIf="form.controls.emailFormControl.errors?.minlength">
          Poner al menos {{ form.controls.emailFormControl.errors?.minlength?.requiredLength }}
        </mat-error>

        <mat-error
          *ngIf="!form.controls.emailFormControl.hasError('required') && form.controls.emailFormControl.dirty">
          Por favor inserte el correo electrónico
        </mat-error>


        <mat-error *ngIf="form.controls.emailFormControl.hasError('required')">
          El correo es <strong>requerido</strong>
        </mat-error>
      </mat-form-field>
      <br />
    
       <button
        [disabled]="form.controls.emailFormControl.invalid"
        mat-raised-button
        color="primary"
        type="submit"
      >
        Verificar
      </button> 
    </form>

</div>

